.boxmenu{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    width: 80vw;
    background-color: white;
    z-index: 7;
}
h1{
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}
p{
    margin: 5px 0;
    color: #cacaca;
    font-weight: 300;
}
.profile{
    display: flex;
    align-items: center;
}
.profile span{
    font-size: 22px;
    color: black;
    margin: 0 20px;
}
.profile div{
    margin: 0 20px;
    display: flex;
}
.profile p{
    margin: 2px 0;
    font-weight: 300;
}
.p4{
    flex-direction: column; 
    margin: 0 8px;
}
@media (max-width:1100px) {
    .boxmenu{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0 10px;
        position: fixed;
        width: 80vw;
        background-color: white;
        z-index: 7;
    }
}
@media (max-width:975px) {
    .boxmenu{
        width: 100vw;
    }
    .p1, .p2, .p3{
        display: none;
    }
    h1{
        font-size: 20px;
    }
    .p4{
        flex-direction: column; 
        margin: 0;
    }
    .profile div{
        margin: 0;
    }
    
}