<div class="boxmenu">
  <div>
    <h1>Weekly sumup</h1>
    <p class="p1">Get summary of your weekly online transactions here.</p>
  </div>
  <div class="profile">
    <span class="pi pi-envelope"></span>
    <span class="pi pi-bell mr-4 p-text-secondary" pBadge  [value]="'4'" severity="danger"></span>
    <div>
      <p-avatar 
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
        styleClass="mr-2" 
        size="large" 
        shape="circle" />
        <div class="p4">
            <p style="color: black;font-weight: 400;" class="p2">Andrew</p>
            <p class="p3">Admin account</p>
        </div>
    </div>
  </div>