<div class="main">
  <h2 style="font-size: 25px; margin: 0;">Outcomes statistics</h2>
  <div style="display: flex; margin-bottom: 17px;">
    <div style="display: flex; background-color: #FCEADA; justify-content: center; align-items: center; height: 40px; width:40px; border-radius: 5px;">
      <i class="pi pi-shopping-cart" style="color: #F39145; font-size: 20px;"></i>
    </div>
    <div style="width: 100%; margin-left: 15px; margin-right: 15px;">
      <p-progressBar [value]="52" />
      <span style="color: #CACACA; margin: 0;font-size: 16px; font-weight: 300;">Shopping</span>
    </div>
    <span class="text-900 text-xl">52%</span>

  </div>
  <div style="display: flex; margin-bottom: 17px;">
    <div style="display: flex; background-color: #DDF9E5; justify-content: center; align-items: center; height: 40px; width:40px; border-radius: 5px;">
      <i class="pi pi-truck" style="color: #008216; font-size: 20px; margin: 10px 0;"></i>
    </div>
    <div style="width: 100%; margin-left: 15px; margin-right: 15px;" class="vert  ">
      <p-progressBar [value]="21" />
      <span style="color: #CACACA; margin: 0;font-size: 16px; font-weight: 300;">Electronics</span>
    </div>
    <span class="text-900 text-xl">21%</span>

  </div>
  <div style="display: flex; margin-bottom: 17px;">
    <div style="display: flex; background-color: #E4F0FE; justify-content: center; align-items: center; height: 40px; width:40px; border-radius: 5px;">
      <i class="pi pi-send" style="color: #70A6E8; font-size: 20px; margin: 10px 0;"></i>
    </div>
    <div style="width: 100%; margin-left: 15px; margin-right: 15px;" class="bleu  ">
      <p-progressBar [value]="71" />
      <span style="color: #CACACA; margin: 0;font-size: 16px; font-weight: 300;">Travels</span>
    </div>
    <span class="text-900 text-xl">71%</span>

  </div>
</div>