<div class="mainbox">
  <div class="surface-card shadow-2 border-round p2">
    <h2 style="font-size: 25px; margin: 0;">New transaction</h2>
    <div>
      <div style="display: flex;">
        <div style="display: flex;flex-direction: column; align-items: center;">
          <p-avatar 
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
              styleClass="mr-2" 
              size="large" 
              shape="circle" />
          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">Ann</span> 

          
        </div>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <p-avatar 
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
              styleClass="mr-2" 
              size="large" 
              shape="circle" />
          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">Monica</span> 

          
        </div>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <p-avatar 
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
              styleClass="mr-2" 
              size="large" 
              shape="circle" />
          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">John</span> 

          
        </div>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <p-avatar 
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
              styleClass="mr-2" 
              size="large" 
              shape="circle" />
          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">Mike</span> 

          
        </div>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <p-avatar 
              image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" 
              styleClass="mr-2" 
              size="large" 
              shape="circle" />
          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">Mia</span> 

          
        </div>
        <div style="display: flex;flex-direction: column; align-items: center;">
          <div style="display: flex; justify-content: center; align-items: center;width: 100%; height: 100%;">
            <div class="yellowcircle">
              <i class="pi pi-plus" style="font-size: 12px"></i>
            </div>
          </div>

          <span style="color: #0b0b0b; margin: 0;font-size: 12px; font-weight: 300;">Add</span> 

          
        </div>
      </div>
      <div style="display: flex;">
        <div style="padding: 4px; border: 2px solid #70A6E8; border-radius: 8px; margin-right: 8px; width:100%">
          <input type="text" style="border: none; outline: none; width: 100%;">
        </div>
          <p-button label="Send" icon="pi pi-arrow-circle-right" iconPos="right"/>
      </div>
    </div>
      

  </div>
  <div class="p1">
    Get great loan! 
    <i class="pi pi-arrow-circle-right" style="font-size: 20px; margin: 0 5px"></i>

  </div>

</div>
